.falling-blocks-loader {
  width: 50px;
  height: 50px;
  --g1: conic-gradient(from 90deg, #e1a52f 90deg, #e1a52f);
  --g2: conic-gradient(from -90deg, #e1a52f 90deg, #e1a52f);
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-position: left, center, right;
  background-repeat: no-repeat;
  animation: l10 1s infinite alternate;
}
@keyframes l10 {
  0% {
    background-size: 14px 50%, 14px 50%, 14px 50%;
  }
  20% {
    background-size: 14px 25%, 14px 50%, 14px 50%;
  }
  40% {
    background-size: 14px 100%, 14px 25%, 14px 50%;
  }
  60% {
    background-size: 14px 50%, 14px 100%, 14px 25%;
  }
  80% {
    background-size: 14px 50%, 14px 50%, 14px 100%;
  }
  100% {
    background-size: 14px 50%, 14px 50%, 14px 50%;
  }
}
