<div class="buttons-content" *ngIf="!isMobile; else mobileModel">
  <ng-container *ngFor="let loader of loaders">
    <button
      mat-raised-button
      [routerLink]="loader.value"
      routerLinkActive="active"
      (click)="setActive(loader.id)"
    >
      {{ loader.title }}
    </button>
  </ng-container>
</div>

<ng-template #mobileModel>
  <div class="mobile-dropdowns-content" (click)="toggleDropdown()">
    <div class="title">
      Loaders
      <span
        class="arrow"
        [class.up]="dropdownOpen"
        [class.down]="!dropdownOpen"
      ></span>
    </div>
    <div class="dropdown-list" [class.open]="dropdownOpen">
      <ng-container *ngFor="let loader of loaders">
        <span
          #elementItemRef
          class="item"
          [routerLink]="loader.value"
          routerLinkActive="active"
          (click)="setActive(loader.id)"
        >
          {{ loader.title }}
        </span>
      </ng-container>
    </div>
  </div>
</ng-template>
