@mixin scroll {
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.2rem;
  }
  &::-webkit-scrollbar {
    height: 0.3rem;
    width: 0.3rem;
    background-color: transparent;
    border-radius: 0.2rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.1rem;
    background-color: gray;
  }
}
.buttons-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgb(222, 222, 222);
  gap: 0.4rem;
  width: 100%;
  padding: 1rem 6rem;
  height: 10rem;
  overflow-y: auto;
  button {
    color: #e1a52f;
    &.active {
      color: #252626;
      background: #e1a52f;
    }
  }
}

.mobile-dropdowns-content {
  background: rgb(222, 222, 222);
  width: 100%;
  .title {
    padding: 1rem 1.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cecece;
    .arrow {
      border: solid black;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transition: transform 0.15s ease;
      &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
      &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
  .dropdown-list {
    @include scroll;
    width: 100%;
    background: rgb(222, 222, 222);
    overflow: hidden;
    max-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    gap: 0.5rem;
    transition: max-height 0.1s ease, padding 0.1s ease;
    .item {
      width: 100%;
      padding: 0.2rem 0.5rem;
      background: #494a4a;
      color: #e1a52f;
      font-size: 0.8rem;
      border-radius: 0.2rem;
      &.active {
        color: #252626;
        background: #e1a52f;
      }
    }
    &.open {
      overflow-y: auto;
      max-height: 18rem;
      padding: 1rem 3.2rem;
    }
  }
}

@media (max-width: 1268px) {
  .buttons-content {
    padding: 0.5rem 0.5rem;
    button {
      height: 1.9rem;
    }
  }
}

@media (max-width: 1024px) {
  .buttons-content {
    padding: 0.5rem 0.3rem;
    button {
      height: 1.5rem;
      font-size: 0.8rem;
    }
  }
}