.dot-load-loader {
  width: 90px;
  height: 23px;
  border-radius: 40px;
  color: #e1a52f;
  border: 2px solid;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    margin: 2px;
    width: 14px;
    top: 0;
    bottom: 0;
    left: -20px;
    border-radius: inherit;
    background: #f03355;
    box-shadow: -10px 0 12px 3px #f03355;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
    animation: l14 0.7s infinite linear;
  }
}
@keyframes l14 {
  100% {
    left: calc(100% + 20px);
  }
}
