<div class="content" *ngIf="!isMobile; else mobileModel">
  <div class="buttons-content">
    <ng-container *ngFor="let loader of loaders">
      <button
        mat-raised-button
        [routerLink]="loader.value"
        (click)="setActive(loader.value)"
        [class.active]="activeButton === loader.value"
      >
        {{ loader.title }}
      </button>
    </ng-container>
  </div>
  <div class="loaders-content">
    <router-outlet />
  </div>
</div>

<ng-template #mobileModel>
  <div class="content mobile">
    <div class="dropdown-btn">
      <div class="title" (click)="toggleDropdown()">
        Loaders
        <span
          class="arrow"
          [class.up]="dropdownOpen"
          [class.down]="!dropdownOpen"
        ></span>
      </div>
      <div class="dropdown-list" [class.open]="dropdownOpen">
        <ng-container *ngFor="let loader of loaders">
          <span
            class="item"
            [routerLink]="loader.value"
            (click)="setActive(loader.value)"
            [class.active]="activeButton === loader.value"
          >
            {{ loader.title }}
          </span>
        </ng-container>
      </div>
    </div>

    <div class="loaders-content">
      <router-outlet />
    </div>
  </div>
</ng-template>
