.content {
  background: linear-gradient(to right, #515252 0%, #2b2c2d 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  app-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}
