<div class="content">
  <div class="buttons-content">
    <button mat-raised-button routerLink="diamond" (click)="setActive('diamond')" [class.active]="activeButton === 'diamond'">Diamond</button>
    <button mat-raised-button routerLink="gear" (click)="setActive('gear')" [class.active]="activeButton === 'gear'">Gear</button>
    <button mat-raised-button routerLink="dot_loop" (click)="setActive('dot_loop')" [class.active]="activeButton === 'dot_loop'">Loop</button>
    <button mat-raised-button routerLink="dash_loop" (click)="setActive('dash_loop')" [class.active]="activeButton === 'dash_loop'">Dash Loop</button>
    <button mat-raised-button routerLink="dot_flash" (click)="setActive('dot_flash')" [class.active]="activeButton === 'dot_flash'">Dot Flash</button>
    <button mat-raised-button routerLink="circule_way" (click)="setActive('circule_way')" [class.active]="activeButton === 'circule_way'">Circule Way</button>
    <button mat-raised-button routerLink="tik_tok" (click)="setActive('tik_tok')" [class.active]="activeButton === 'tik_tok'">Tik Tok</button>
    <button mat-raised-button routerLink="tetris" (click)="setActive('tetris')" [class.active]="activeButton === 'tetris'">Tetris</button>
    <button mat-raised-button routerLink="falling_blocks" (click)="setActive('falling_blocks')" [class.active]="activeButton === 'falling_blocks'">Falling Blocks</button>
    <button mat-raised-button routerLink="tetris_2" (click)="setActive('tetris_2')" [class.active]="activeButton === 'tetris_2'">Tetris 2</button>
    <button mat-raised-button routerLink="jumper" (click)="setActive('jumper')" [class.active]="activeButton === 'jumper'">Jumper</button>
    <button mat-raised-button routerLink="triangle_star" (click)="setActive('triangle_star')" [class.active]="activeButton === 'triangle_star'">Triangle Star</button>
    <button mat-raised-button routerLink="balls" (click)="setActive('balls')" [class.active]="activeButton === 'balls'">Balls</button>
    <button mat-raised-button routerLink="loading" (click)="setActive('loading')" [class.active]="activeButton === 'loading'">Loading</button>
    <button mat-raised-button routerLink="squars" (click)="setActive('squars')" [class.active]="activeButton === 'squars'">Squars</button>
    <button mat-raised-button routerLink="mario" (click)="setActive('mario')" [class.active]="activeButton === 'mario'">Mario</button>
  </div>
  <div class="loaders-content">
    <router-outlet />
  </div>  
</div>
