.balls-loader {
  width:28px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffd54a;
  animation: l9 2s infinite;
}
@keyframes l9 {
  0%   {box-shadow: 
    0 -16px #e1a52f , calc(16px*0.707) calc(-16px*0.707) #e1a52f ,0 0 #e1a52f , 0 0 #e1a52f ,
    0 0 #e1a52f , 0 0 #e1a52f ,0 0 #d69d23, 0 0 #e1a52f }
  12.5%   {box-shadow: 
    0 0 #e1a52f, calc(16px*0.707) calc(-16px*0.707) #e1a52f ,16px 0 #e1a52f, 0 0 #e1a52f ,
    0 0 #e1a52f, 0 0 #e1a52f ,0 0 #e1a52f, 0 0 #e1a52f }
  25%   {box-shadow: 
    0 0 #e1a52f, 0 0 #e1a52f ,16px 0 #e1a52f, calc(16px*0.707) calc(16px*0.707) #e1a52f ,
    0 0 #e1a52f, 0 0 #e1a52f ,0 0 #e1a52f, 0 0 #e1a52f }
  37.5% {box-shadow: 
    0 0 #e1a52f, 0 0 #e1a52f ,0 0 #e1a52f, calc(16px*0.707) calc(16px*0.707) #e1a52f ,
    0 16px #e1a52f, 0 0 #e1a52f ,0 0 #e1a52f, 0 0 #e1a52f }
  50%   {box-shadow: 
    0 0 #e1a52f, 0 0 #e1a52f ,0 0 #e1a52f, 0 0 #e1a52f ,
    0 16px #e1a52f, calc(-16px*0.707) calc(16px*0.707) #e1a52f ,0 0 #e1a52f, 0 0 #e1a52f }
  62.5% {box-shadow: 
    0 0 #e1a52f, 0 0 #e1a52f ,0 0 #e1a52f, 0 0 #e1a52f ,
    0 0 #e1a52f, calc(-16px*0.707) calc(16px*0.707) #e1a52f ,-16px 0 #e1a52f, 0 0 #e1a52f }
  75%   {box-shadow: 
    0 0 #e1a52f, 0 0 #e1a52f ,0 0 #e1a52f, 0 0 #e1a52f ,
    0 0 #e1a52f, 0 0 #e1a52f ,-16px 0 #e1a52f, calc(-16px*0.707) calc(-16px*0.707) #e1a52f }
  87.5% {box-shadow: 
    0 -16px #e1a52f, 0 0 #e1a52f ,0 0 #e1a52f, 0 0 #e1a52f ,
    0 0 #e1a52f, 0 0 #e1a52f ,0 0 #e1a52f, calc(-16px*0.707) calc(-16px*0.707) #e1a52f }
  100% {box-shadow: 
    0 -16px #e1a52f, calc(16px*0.707) calc(-16px*0.707) #e1a52f ,0 0 #e1a52f, 0 0 #e1a52f ,
    0 0 #e1a52f, 0 0 #e1a52f ,0 0 #e1a52f, 0 0 #e1a52f }
}